*{
    margin: 0;
    padding:0;
    font-family: 'Popins',sans-serif;
    box-sizing: border-box;
}

.container{
    width:100%;
    min-height: 100vh;
    /* background:linear-gradient(120deg, rgb(252, 207, 207), rgb(255, 157, 0)) ; */
    background: url(asset/wallpapersden.com_starry-sky-hd-dark-blue-night_1920x1080.jpg);
    padding: 10px;
    box-shadow: 0 0 10px rgba(255, 95, 3, 0.17);
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #ffffff55;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color:#ffffff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width:30px;
    margin-left:10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background:#ffffff;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border:none;
    outline: none;
    background: transparent;
    padding:10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding:16px 50px;
    background: #e100f5;
    border-radius: 50px;
    color:white;
    font-size: 16px;
}
button:hover{
    background-color:#aa01ff;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: #edeef0;
}
ul li::before{
    content: '';
    position: absolute;
    height:28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(asset/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #ffffff;
    
}
ul li.checked::before{
    background-image: url(asset/check.png);
}
ul li span{
    position: absolute;
    right:0;
    top:5px;
    width:40px;
    height:40px;
    font-size: 40px;
    color: #555;
    line-height: 40px;
    text-align: center;
    background:#c2bbf9;
    border-radius: 50%;
}
ul li span:hover{
    background:#4551ff;
    border-radius: 50%;

}